<style>
  .scanbox {
    border-top: 5px dashed #ffcc80;
    ;
    border-bottom: 15px solid #ffcc80;
    display: flex;
    flex-flow: column;
    padding: 15px;
    padding-top: 15px;
    overflow-y: scroll;

  }

  .scan_product_name {
    padding: 5px;

    font-size: 1.5em;
    color: #111111;
  }

  .scan_product {
    border-bottom: darkgrey 1px solid;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;

  }
  .loadingBall{
    margin: 0 auto;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #ffcc80;
  }

  

  /* items */

  .tooglebox {
    padding: 5px;
    padding-top: 7px;
  }
  .loadingBox{
    overflow: hidden;
    width:100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 200px;
  }
</style>
<div class="fluid-container">
  <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-8 col-md-offset-2 col-lg-offset-3" class="text-center">
      <div class="descriptionbox">
        <i>Here you can see items that Food Explorer is currently searching for you as you go around</i>
      </div>
      
      <div class="scanbox">
          <div *ngIf="myscanlist.foodchains.length > 0; then results else noresults"></div>
        <ng-template #results>
        <div  *ngFor="let options of myscanlist.foodchains " class="scan_product">
          <div class="scan_product_name">{{options.name}}</div>
          <div class="tooglebox">
            <mat-slide-toggle [checked]="options.selected" (change)="options.selected = !options.selected;toggleOption(options,options.selected)"></mat-slide-toggle>
          </div>
        </div>
      </ng-template>
      <ng-template #noresults>
        <div class="loadingBox"> 
        <div [@loading]='orange'  class="loadingBall"></div>
       <div [@loading]='red' style="background-color: red"  class="loadingBall"></div>
      <div [@loading]='green' style="background-color: lightgreen"  class="loadingBall"></div>
      </div>
      </ng-template>
      
       
     
       

        <!-- end of list -->
      </div>
    </div>
  </div>
  <!-- end of row -->
</div>
<!-- end of container -->