<style>
  .resultitem {
    background-color: #ffffff;

    border-bottom: darkgrey 1px solid;
    margin-bottom: 30px;
    padding-bottom: 5px;
    color: #000000;
    text-align: left;
    display: block;
    flex-flow: column;

  }
  .productname { 
    
    padding: 5px;
    padding-bottom: 0;
font-size: 1.5em;
color: #111111;
  }

.productbrand{
    padding-left: 5px;
     font-size: 0.9em;
     color:darkgray;
    } 
  .location_product_holder{
    border-top: 5px dashed #ffcc80;
    ;
    border-bottom: 15px solid #ffcc80;
    display: flex;
    flex-flow: column;
    padding: 15px;
    padding-top: 15px;
    overflow-y: scroll;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xs-12 col-md-8 col-md-offset-2 col-lg-offset-3" class="text-center">
        <div class="descriptionbox">
            <i>All locations that you found so far.</i>
          </div>
      <div class="location_product_holder">
          




      </div>

    </div>
  </div>
</div>
